@import 'tailwindcss';



@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Island+Moments&display=swap');


.island-moments-regular {
    font-family: "Island Moments", cursive;
    font-weight: 400;
    font-style: normal;
  }

  @layer new{
    :host {
        font-family: "Faculty Glyphic", cursive;
        font-weight: 400;
        font-style: normal;
    }
    .test {
        font-family: "Island Moments", cursive;
        font-weight: 400;
        font-style: normal;
    }
    
  }