

*{ margin: 0%; padding: 0%;}

body{
    margin: inherit; padding: inherit;
}

/*backgrounds */

/* header */
.header{
    background-image: url(../img/photo-f.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}


/* projecten */
.projecten{
        width: 100vw;
        height: 100vh;
        background-image: url(../img/eb40cd26cf2f9e18cd01b8bc07495121.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 10%;
}




/* about me */
.about {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/mountain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }



  /* skills */
  .skills {
    width: 100vw;
    height: 100vh;
    background-color:#000000;
  }


/* contact */
.contact {
    width: 100vw;
    height: 20vh;
    position: relative;
}





/* favicon */
.favicon {
    mix-blend-mode: difference;
    width: 110px;
    height: 120px;
    position: fixed;
    left: 90px;
    top: 0px;
    object-fit: cover;
  }


  .sven-bosman,
.sven-bosman * {
  box-sizing: border-box;
}

.sven-bosman {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 128px;
    font-weight: 400;
    position: absolute;
    left: 470px;
    bottom: 45vh;
    width: 850px;
    height: 120px;
  }

  .rectangle-19 {
    background: rgba(217, 217, 217, 0);
    border-style: solid;
    border-color: #000000;
    border-width: 0px 0px 5px 0px;
    width: 850px;
    height: 126px;
    position: absolute;
    left: 460px;
    top: 280px;
  }

  .software-dev-design {
    color: #464545;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 64px;
    font-weight: 400;
    position: absolute;
    left: 470px;
    top: 401px;
    width: 470px;
    height: 130px;
  }



  .mijn-projecten {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 96px;
    font-weight: 400;
    position: absolute;
    left: 810px;
    width: 720px;
    height: 120px;
  }




  .over-mij {
    color: #c9c9c9;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 96px;
    font-weight: 400;
    position: absolute;
    left: 267px;
  }
  

  .rectangle-4 {
    background: #d9d9d9;
    border-radius: 30px;
    border-style: solid;
    border-color: #919191;
    border-width: 7px;
    width: 530px;
    height: 710px;
    position: absolute;
    left: 940px;
  }