:root{
    --main-color: #572424;
    --second-color: #000000;
    --third-color: #ffffff;
    --fourth-color: #000000;
    --fifth-color: #ffffff;
}

/* normal desktop size */
@media screen and (min-width: 1920px) {
    main{
        height: 50vh;
    }
    
    main h1{
        font-size: 11rem;
        padding-right: 4%;
    }
    main i{
        font-size: 3rem;
    }
    nav{
        display: none;
    }
    .img_h{
        width: 100%;
        height: 100%;
    }
    #carousel{
        width: 100%;
        height: 100%;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
    }
}

/* Laptop zise */
@media screen and (min-width: 1280px) and (max-width: 1920px) {
    main{
        height: 50vh;
    }
    main h1{
        font-size: 8rem;
        margin-left: 7rem;
    }
    main .i{
        font-size: 6rem;
        margin-right: 5%;
        
    }
    main .i a{
      color: wheat;     
    }
    main .i ul{
        font-size: 1rem;
        margin-right: 5%;
        mix-blend-mode: normal;
    }
    main .i ul li{
        list-style: none;
        padding: 0.5rem;
        margin: 0.5rem;
        color: var(--fourth-color);
    }
    nav{
        display: none;
    }
    .img_h{
        width: 40vh;
        height: 40vh;
        
    }

    .img_h h2{
        font-size: 3rem;
        padding-top: 1rem;
        color: var(--third-color);
    }
    #carousel{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        
    }
}

/* Tablet size */
@media screen and (min-width: 768px) and (max-width: 1280px) {
    main{
        height: 30vh;
        width: 100%;
        background-image: url(../img/city1.jpg) ;
        scale: cover;
        background-size: cover;
        display: flex;
    }
    
    main h1{
        font-size: 5rem;
        padding-right: 4%;
        margin-left: 7rem;
    }
    main .i{
        font-size: 6rem;
        margin-right: 5%;
    }
    nav{
        display: none;
    }
    .img_h{
        width: 20vh;
        height: 20vh;
    }

    #carousel{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .carousel-item img{
        width: 100%;
        height: 100%;
        
    }

}
/* Mobile size */
@media screen and (max-width: 768px) {
    main h1{
        font-size: 2rem;
        padding-right: 4%;
    }
    main .i{
        display: none;
    }
    nav{
        display: flex;
    }
    
    .img_h{
        width: 3vh;
        height: 3vh;
    }
    #carousel{
        width: 100%;
        height: 100%;
    }
    .carousel-item img{
        width: 4vh;
        height: 100%;
    }
   
}








*{padding: 0%; margin: 0%;}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to bottom, var(--third-color), #000000) no-repeat fixed;
}

header{
    height: 6rem;
    width: 100%;
    background-color: var(--second-color);
    border-bottom: double 3px #000000;
}
main{

    width: 100%;
    background-image: url(../img/city1.jpg) ;
    background-size: cover;
    justify-content: space-between;
    display: flex;
 
}
main .i{
    color: var(--third-color);
    text-align: center;
    padding-top: 0.1%;
    justify-self: center;
}

main .i ul li a{
    list-style: none;
    padding: 0.5rem;
    margin: 0.5rem;
    color: var(--fourth-color);
}


main h1{
    color: var(--third-color);
    text-align: center;
    padding-top: 1rem;
    mix-blend-mode: difference;
    justify-self: center;
}
main img{
    width: 6rem;
    height: fit-content;
    position: fixed;
    mix-blend-mode: difference;
    object-fit: scale-down;
}
nav .list{
    display: flex;
    height: fit-content;
    width: 100%;
    background-color: var(--second-color);
    border-bottom: double 3px #000000;
}

.content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
}
.img_h{
    display: flex;
    border: #ffffff 2px solid;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
}

.img_h h2{
    color: var(--third-color);
    text-align: center;
    padding-top: 1rem;
    justify-self: center;
}

#carousel{
    display: flex;
    justify-content: center;
    
    height: fit-content;

}
.carousel-item{
    display: flex;
    justify-content: center;
    height: fit-content;
  
}

.carousel-item img{
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 0px 20px var(--main-color);
}

.text_h{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    color: #ffffff;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 100%;
    background-color: var(--second-color);
    border-top: double 3px #000000;
}
footer h2{
    color: var(--third-color);
    text-align: center;
    padding-top: 1rem;
    justify-self: center;
}